# Source
projects/
demo/
docs/
setup-jest.ts
jest.config.js
tsconfig.spec.json
karma.conf.js

# CI/CD
.github/

# IDE & OS
.idea/
.vscode/
.DS_Store

# Test artifacts
coverage/
*.spec.ts

# Misc
CHANGELOG.md
